<div class="clearfix pi-item-list">
    <div class="col-lg-12 col-md-12 col-12 clearfix">
        <div class="page-header">
            <h1>{{condition.title}}</h1>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-12 clearfix">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{'SEARCH' | translate}}</h3>
            </div>
            <div class="card-body">
                <form id="list-filter" ng-submit="filterAction()">
                    <div class="row">
                        <div class="form-group col-lg-4 col-md-4 clearfix">
                            <label class="col-lg-4 col-md-4 control-label">
                                {{'DATE_START' | translate}}
                            </label>
                            <div class="col-lg-8 col-md-8 js-form-element">
                                <input type="text" id="dateFrom" class="form-control" ng-model="filter.dateFrom">
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-md-4 clearfix">
                            <label class="col-lg-4 col-md-4 control-label">
                                {{'DATE_END' | translate}}
                            </label>
                            <div class="col-lg-8 col-md-8 js-form-element">
                                <input type="text" id="dateTo" class="form-control" ng-model="filter.dateTo">
                            </div>
                        </div>
                        <div ng-if="condition.statusList.payment" class="form-group col-lg-4 col-md-4 clearfix">
                            <label class="col-lg-4 col-md-4 control-label">
                                {{'PAYMENT_STATUS' | translate}}
                            </label>
                            <div class="col-lg-8 col-md-8 js-form-element">
                                <select class="form-control" ng-model="filter.payment_status">
                                    <option value="">{{'ALL' | translate}}</option>
                                    <option ng-repeat="paymentStatus in condition.statusList.payment"
                                            value="{{paymentStatus.value}}">
                                        {{paymentStatus.title}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div ng-if="condition.statusList.reserve" class="form-group col-lg-4 col-md-4 clearfix">
                            <label class="col-lg-4 col-md-4 control-label">
                                {{'RESERVE_STATUS' | translate}}
                            </label>
                            <div class="col-lg-8 col-md-8 js-form-element">
                                <select class="form-control" ng-model="filter.reserve_status">
                                    <option value="">{{'ALL' | translate}}</option>
                                    <option ng-repeat="reserveStatus in condition.statusList.reserve"
                                            value="{{reserveStatus.value}}">
                                        {{reserveStatus.title}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div ng-if="condition.serviceList" class="form-group col-lg-4 col-md-4 clearfix">
                            <label class="col-lg-4 col-md-4 control-label">
                                {{'SERVICE' | translate}}
                            </label>
                            <div class="col-lg-8 col-md-8 js-form-element">
                                <select class="form-control" ng-model="filter.service_id">
                                    <option value="">{{'ALL' | translate}}</option>
                                    <option ng-repeat="service in condition.serviceList" value="{{service.id}}">
                                        {{service.title}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div ng-if="condition.providerList" class="form-group col-lg-4 col-md-4 clearfix">
                            <label class="col-lg-4 col-md-4 control-label">
                                {{'PROVIDER' | translate}}
                            </label>
                            <div class="col-lg-8 col-md-8 js-form-element">
                                <select class="form-control" ng-model="filter.provider_id">
                                    <option value="">{{'ALL' | translate}}</option>
                                    <option ng-repeat="provider in condition.providerList" value="{{provider.id}}">
                                        {{provider.title}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-md-4 clearfix">
                            <label class="col-lg-4 col-md-4 control-label">
                                {{'NAME' | translate}}
                            </label>
                            <div class="col-lg-8 col-md-8 js-form-element">
                                <input type="text" id="name" class="form-control" ng-model="filter.name">
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-md-4 clearfix">
                            <label class="col-lg-4 col-md-4 control-label">
                                {{'MOBILE' | translate}}
                            </label>
                            <div class="col-lg-8 col-md-8 js-form-element">
                                <input type="text" id="mobile" class="form-control" ng-model="filter.mobile">
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-md-4 clearfix">
                            <label class="col-lg-4 col-md-4 control-label">
                                {{'EMAIL' | translate}}
                            </label>
                            <div class="col-lg-8 col-md-8 js-form-element">
                                <input type="text" id="email" class="form-control" ng-model="filter.email">
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-md-4 clearfix">
                            <label class="col-lg-4 col-md-4 control-label">
                                {{'LIMIT' | translate}}
                            </label>
                            <div class="col-lg-8 col-md-8 js-form-element">
                                <select class="form-control" ng-model="filter.limit" ng-change="filterAction()"
                                        ng-model-options="{ debounce: 10000 }">
                                    <option value="">{{'DEFAULT' | translate}}</option>
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-md-4 clearfix">
                            <button class="btn btn-info">
                                <i class="fa fa-search"></i> {{'SEARCH' | translate}}
                            </button>
                            <a class="btn btn-info reload-link" ng-click="reloadRoute();">
                                <i class="fa fa-refresh"></i> {{'REFRESH' | translate}}
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-12 clearfix">
        <div class="clearfix">
            <div ng-show="list.length">
                <table id="item-list" class="table table-striped table-bordered table-hover table-sm mt-3 mb-3">
                    <tr>
                        <th>{{'ID' | translate}}</th>
                        <th>{{'USER' | translate}}</th>
                        <th>{{'TIME' | translate}}</th>
                        <th>{{'AMOUNT' | translate}}</th>
                        <th>{{'PROVIDER' | translate}}</th>
                        <th>{{'STATUS' | translate}}</th>
                        <th>{{'ACTION' | translate}}</th>
                    </tr>
                    <tr ng-repeat="item in list" id="schedule-{{item.id}}" data-status="{{item.urlStatus}}"
                        data-id="schedule-{{item.id}}">
                        <td>{{item.id}}</td>
                        <td>
                            <ul class="list-unstyled">
                                <li>{{'NAME' | translate}} : <strong>{{item.name}}</strong></li>
                                <li>{{'MOBILE' | translate}} : <strong>{{item.mobile}}</strong></li>
                                <li>{{'EMAIL' | translate}} : <strong>{{item.email}}</strong></li>
                            </ul>
                        </td>
                        <td>
                            <ul class="list-unstyled">
                                <li>{{'DATE' | translate}} : <strong>{{item.reserve_date_view}}</strong></li>
                                <li>{{'FROM' | translate}} : <strong>{{item.reserve_from}}</strong></li>
                                <li>{{'TO' | translate}} : <strong>{{item.reserve_to}}</strong></li>
                            </ul>
                        </td>
                        <td>{{item.amount_view}}</td>
                        <td>{{item.provider_title}}</td>
                        <td>
                            <ul class="list-unstyled">
                                <li>
                                    {{'PAYMENT' | translate}} : <strong class="payment-status-{{item.id}}">{{item.payment_status_view}}</strong>
                                </li>
                                <li>
                                    {{'RESERVE' | translate}} : <strong class="reserve-status-{{item.id}}">{{item.reserve_status_view}}</strong>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="{{item.urlEdit}}">
                                {{'EDIT' | translate}}
                            </a>
                            <button class="schedule-status btn btn-warning btn-sm">
                                {{'UPDATE_STATUS' | translate}}
                            </button>
                        </td>
                    </tr>
                </table>
                <div class="pi-paginator">
                    <pagination ng-if="paginator.count > paginator.limit"
                                total-items="paginator.count" page="paginator.page" max-size="10"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                                boundary-links="true" items-per-page="paginator.limit">
                    </pagination>
                </div>
            </div>
            <div class="alert alert-danger mt-3 mb-3" ng-if="!list.length">
                {{'EMPTY_LIST' | translate}}
            </div>
        </div>
    </div>
</div>